:root {
  --global-background: #BFCDE0;
  --ink: #FEFCFD;
  --text-background: #011627;
  --chat-background: #A7754D;
  --global-font: Helvetica;
}

* {
  margin: 0;
  padding: 0;
  color: var(--ink);
  font-family: Calibri;
}

html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  background-color: var(--global-background);
  /* border: 5px solid blue; */
  display:flex;
  flex-direction: column;
  justify-content: center;
}

#main-div {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-content: center;
  /* border: 5px solid red; */
  margin:auto;
}

#headline {
  text-align:center;
  background-color: var(--text-background);
  padding:5px;
  border-radius: 15px;
}

#chat-history {
  height: 60vh;
  /* border: 5px solid green; */
  resize: none;
  overflow-y: scroll;
  display: inline-block;
  background-color: var(--chat-background);
  padding:6px;
  border-radius: 15px;
  margin-top:10px;
  margin-bottom:10px;
}

#chat-history > div {
  align-self: end;
  width: 96%;
  display: flex;
  flex-direction: column;
  float:auto;
  padding:5px;
  margin:2px;
}

textarea,button,select {
  background-color: var(--text-background);
}

textarea[name="prompt"] {
  resize: none;
  align-self: end;
  padding:6px;
  border-radius: 8px;
}

textarea[name="response"] {
  resize: none;
  align-self: start;
  padding:6px;
  border-radius: 8px;
}

#input-div {
  /* border: 5px solid pink; */
  display: flex;
  justify-content: center;
  background-color: var(--chat-background);
  padding:10px;
  border-radius: 14px;
}

#input-div > textarea{
  resize:none;
  margin:5px;
  padding:6px;
  border-radius: 8px;
}

#input-div > select {
  margin:5px;
  padding:6px;
  border-radius: 8px;
}

#input-div > button {
  margin:5px;
  padding:6px;
  border-radius: 8px;
}

