:root {
  --background-color: #bcd586;
  --box-color: #0c3445;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  background-color: var(--background-color);
  border: 5px solid blue;
}

#main-div {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-content: center;
  border: 5px solid red;
  left:0;
  right:0;
  margin:auto;
}

#headline {
  border: 5px solid black;
  text-align:center;
}

#chat-history {
  height: 600px;
  border: 5px solid green;
  
  /* resize: none;
  max-width: inherit;
  max-height: inherit;
  align-self:end;
  overflow-y: scroll; */
}

#chat-history > div {

}

#userinput{
  resize:none;
}

textarea[name="prompt"] {
  resize: none;
  align-self: end;
}

div[name="prompt"] {
  align-self: end;
  border: 5px solid pink;
  width: inherit;
  width: 95%;
  display: flex;
  flex-direction: column;
}

textarea[name="response"] {
  resize: none;
  align-self: start;
}

div[name="response"]{
  align-self: end;
  border: 5px solid green;
  width: 95%;
  display: flex;
  flex-direction:column;
}

select, input {
  align-self:start;
}
